{% extends "heda/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
  <h2>Retrieve data from USGS</h2>
<form id="add-data-form" method="post">
    <div class="container">
        <div class="row">
            {% csrf_token %}
            <div class="col-sm-2">
                {% gizmo site_number_input %}
            </div>
            <div class="col-sm-2">
                {% gizmo concentration_parameter_input %}
            </div>
            <div class="col-sm-2">
                {% gizmo start_date_input %}
            </div>
            <div class="col-sm-2">
                {% gizmo end_date_input %}
            </div>
        </div>
    </div>
    {% gizmo retrieve_button %}
</form>
<hr />

<h2>Upload data file</h2>
<form id="upload-data-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-group{% if hydrograph_file_error %} has-error{% endif %}">
        <label class="control-label">Data File</label>
        <input type="file" name="hydrograph-file">
            {% if hydrograph_file_error %}<p class="help-block">{{ hydrograph_file_error }}</p>{% endif %}
            </div>
    {% gizmo upload_button %}
</form>
<hr />

<h2>Event segmentation</h2>
<form id="segment-data-form" method="post">
    <h3>HydRun parameters</h3>
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                {% gizmo fc_input %}
            </div>
            <div class="col-sm-2">
                {% gizmo PKThreshold_input %}
            </div>
            <div class="col-sm-2">
                {% gizmo ReRa_input %}
            </div>
            <div class="col-sm-2">
                {% gizmo MINDUR_input %}
            </div>
        </div>
        <h3>Optional HydRun parameters</h3>
        <div class="row">
            <div class="col-sm-2">
                {% gizmo ESLOPE_input %}
            </div>
            <div class="col-sm-2">
                {% gizmo SC_input %}
            </div>
            <div class="col-sm-2">
                {% gizmo BSLOPE_input %}
                
            </div>
            <div class="col-sm-2">
                {% gizmo dyslp_input %}
            </div>
        </div>
    </div>
</form>
{% gizmo hydrograph_plot %}
{% endblock %}


{% block app_actions %}
  {% gizmo cancel_button %}
  {% gizmo segment_button %}
  {% gizmo download_button %}
  {% gizmo visualize_button %}
{% endblock %}



