{% extends "heda/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
  <h1>Retrieve Data</h1>
<form id="add-data-form" method="post">
    {% csrf_token %}
    {% gizmo site_number_input %}
    {% gizmo start_date_input %}
    {% gizmo end_date_input %}
</form>
    <h1>Event Segmentation Parameters</h1>
<form id="segment-data-form" method="post">
    {% csrf_token %}
    {% gizmo parameter1_input %}
    {% gizmo parameter2_input %}
</form>
{% gizmo hydrograph_plot %}
{% endblock %}



{% block app_actions %}
  {% gizmo cancel_button %}
  {% gizmo segment_button %}
  {% gizmo retrieve_button %}
{% endblock %}



