{% extends "heda/base.html" %}
{% load tethys_gizmos %}
{% load staticfiles%}

{% block app_content %}
<h3>
About
</h3>
The Hydrological Event Detection & Analysis (HEDA) tool is a web-client app that enables users to visualize and analyze continuous hydrological and water quality data at the event scale. The interface allows users to analyze data uploaded by the user or retrieved from the USGS NWIS and CUAHSI HIS databases.
<br \>
<br \>
The HEDA tool is intended for characterization and analysis of the simultaneous water quality and streamflow response during hydrological events. HEDA is most appropriate for use in small to medium sized watersheds where rainfall-runoff processes result in distinguishable events; however, HEDA may also be applicable to other areas such as watersheds with significant snowmelt regimes.

<h3>
Features:
</h3>
The HEDA tool has two primary features:
<br \>
1.    Automated detection and delineation of hydrological events from continuous time series.<br \>
2.    Event visualization and analysis including event metrics and hysteresis analysis.
<br \>
<br \>
The detection and delineation of events can be performed over a year of records at a given time. The visualization and analysis of events includes the description of both streamflow and water quality metrics.
<br \>
<br \>
HEDA includes the option to download as .csv files both event delineations as well as event analysis.
<br \>
<br \>
<h3>
Input Files:
</h3>
    
To use HEDA on user uploaded files, the data must be formatted as a .csv. An example file is provided:
<br \>
<p>Click =<a href="{% static '/heda/files/example_file.csv' %}">here</a> to download example file</p>
<h3>
What’s New:
</h3>
Credits, Authors, & Contributors:
HEDA was developed as part of a CUAHSI Hydroinformatics Innovation Fellowship project by Dr. Scott Hamshaw and Ali Javed at the University of Vermont.
<br \>
Event detection and delineation algorithm is adapted from the HydRun MATLAB toolbox developed by Weigang Tang and Sean Carey at McMaster University.
<br \>
Tang W, Carey SK. HydRun: A MATLAB toolbox for rainfall–runoff analysis. Hydrological Processes. 2017. http://doi.org/10.1002/hyp.11185
<br \>
Contact:
<br \>
For further information or questions related to HEDA, please contact:
<br \>
Scott Hamshaw at scott.hamshaw@uvm.edu. Contact HydroShare for apps development questions or issues at dev@hydroshare.org.




{% endblock %}

{% block app_actions %}
{% gizmo visualize %}
{% endblock %}
